In [84]:
import numpy as np
import pandas as pd
import json
import ast

df = pd.read_csv('/Users/artemohotnikov/Documents/__code/__pet_projects/Movies_project/Movies_DB/archive/movies_metadata.csv', sep=',')

df = df[['budget', 'genres', 'imdb_id', 'production_companies', 'production_countries', 'release_date']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45463 non-null  int64
 1   genres                45463 non-null  object
 2   imdb_id               45446 non-null  object
 3   production_companies  45460 non-null  object
 4   production_countries  45460 non-null  object
 5   release_date          45376 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.1+ MB

In [18]:
df

,budget,genres,imdb_id,production_companies,production_countries,release_date
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",30/10/1995
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",15/12/1995
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",22/12/1995
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",22/12/1995
4,0,"[{'id': 35, 'name': 'Comedy'}]",tt0113041,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/02/1995
...,...,...,...,...,...,...
45458,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",tt6209470,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN
45459,0,"[{'id': 18, 'name': 'Drama'}]",tt2028550,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",17/11/2011
45460,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0303758,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",01/08/2003
45461,0,[],tt0008536,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",21/10/1917
45462,0,[],tt6980792,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",09/06/2017

In [33]:
df['genres'] = df['genres'].str.replace("'",'""')
df['production_companies'] = df['production_companies'].str.replace("'",'""')
df['production_countries'] = df['production_countries'].str.replace("'",'""')
df

,budget,genres,imdb_id,production_companies,production_countries,release_date
0,30000000,"[{""""id"""": 16, """"name"""": """"Animation""""}, {""""id""...",tt0114709,"[{""""name"""": """"Pixar Animation Studios"""", """"id""...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",30/10/1995
1,65000000,"[{""""id"""": 12, """"name"""": """"Adventure""""}, {""""id""...",tt0113497,"[{""""name"""": """"TriStar Pictures"""", """"id"""": 559}...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",15/12/1995
2,0,"[{""""id"""": 10749, """"name"""": """"Romance""""}, {""""id...",tt0113228,"[{""""name"""": """"Warner Bros."""", """"id"""": 6194}, {...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",22/12/1995
3,16000000,"[{""""id"""": 35, """"name"""": """"Comedy""""}, {""""id"""": ...",tt0114885,"[{""""name"""": """"Twentieth Century Fox Film Corpo...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",22/12/1995
4,0,"[{""""id"""": 35, """"name"""": """"Comedy""""}]",tt0113041,"[{""""name"""": """"Sandollar Productions"""", """"id"""":...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",10/02/1995
...,...,...,...,...,...,...
45458,0,"[{""""id"""": 18, """"name"""": """"Drama""""}, {""""id"""": 1...",tt6209470,[],"[{""""iso_3166_1"""": """"IR"""", """"name"""": """"Iran""""}]",NaN
45459,0,"[{""""id"""": 18, """"name"""": """"Drama""""}]",tt2028550,"[{""""name"""": """"Sine Olivia"""", """"id"""": 19653}]","[{""""iso_3166_1"""": """"PH"""", """"name"""": """"Philippi...",17/11/2011
45460,0,"[{""""id"""": 28, """"name"""": """"Action""""}, {""""id"""": ...",tt0303758,"[{""""name"""": """"American World Pictures"""", """"id""...","[{""""iso_3166_1"""": """"US"""", """"name"""": """"United S...",01/08/2003
45461,0,[],tt0008536,"[{""""name"""": """"Yermoliev"""", """"id"""": 88753}]","[{""""iso_3166_1"""": """"RU"""", """"name"""": """"Russia""""}]",21/10/1917
45462,0,[],tt6980792,[],"[{""""iso_3166_1"""": """"GB"""", """"name"""": """"United K...",09/06/2017

In [129]:
a = {'genres':'name'}

b = list(a.values())
df[[list(a.keys())[0]]]

                                                  genres
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45458  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45459                      [{'id': 18, 'name': 'Drama'}]
45460  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45461                                                 []
45462                                                 []

[45463 rows x 1 columns]

In [138]:
for pair in [{'genres':'name'}, {'production_companies':'name'}, {'production_countries':'iso_3166_1'}]:
    for index, col in df[[list(pair.keys())[0]]].iterrows():
        df.loc[index, col] = json.loads(df.loc[index, col].replace('\'','"'))[0][list(pair.values())[0]]

KeyError: "None of [Index(['[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]'], dtype='object')] are in the [index]"

In [ ]:
for i in ['genres', 'production_companies', 'production_countries']:
    for index, col in df[[col]].iterrows():
        df[index, i] = json.loads(df.loc[index, i].replace('\'','"'))[0]

In [98]:
my_string = "[{'name': 'Le Studio Canal+', 'id': 183}, {'name': 'Laurence Mark Productions', 'id': 415}, {'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}, {'name': 'Carolco Pictures', 'id': 14723}]"

a = json.loads(my_string.replace('\'','"'))
a[0]['id']

183

In [139]:
a = json.loads(df.loc[0,'genres'].replace('\'','"'))
a[0]['id']

16

In [93]:
df.loc[0,'production_companies']

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [157]:
df.iloc[28,3].replace('\'','"')

'[{"name": "Procirep", "id": 311}, {"name": "Constellation Productions", "id": 590}, {"name": "France 3 CinÃ©ma", "id": 591}, {"name": "Claudie Ossard Productions", "id": 592}, {"name": "Eurimages", "id": 850}, {"name": "MEDIA Programme of the European Union", "id": 851}, {"name": "Cofimage 5", "id": 1871}, {"name": "TelevisiÃ³n EspaÃ±ola (TVE)", "id": 6639}, {"name": "Tele MÃ¼nchen Fernseh Produktionsgesellschaft (TMG)", "id": 7237}, {"name": "Club d"Investissement MÃ©dia", "id": 8170}, {"name": "Canal+ EspaÃ±a", "id": 9335}, {"name": "ElÃ­as Querejeta Producciones CinematogrÃ¡ficas S.L.", "id": 12009}, {"name": "Centre National de la CinÃ©matographie (CNC)", "id": 18367}, {"name": "Victoires Productions", "id": 25020}, {"name": "Constellation", "id": 25021}, {"name": "LumiÃ¨re Pictures", "id": 25129}, {"name": "Canal+", "id": 47532}, {"name": "Studio Image", "id": 68517}, {"name": "Cofimage 4", "id": 79437}, {"name": "Ossane", "id": 79438}, {"name": "Phoenix Images", "id": 79439}]'

In [141]:
import numpy as np
import pandas as pd
import json

df = pd.read_csv('/Users/artemohotnikov/Documents/__code/__pet_projects/Movies_project/Movies_DB/archive/movies_metadata.csv', sep=',')

df = df[['budget', 'genres', 'imdb_id', 'production_companies', 'production_countries', 'release_date']]

for pair in [{'genres':'name'}, {'production_companies':'name'}, {'production_countries':'iso_3166_1'}]:
    for index, col in df[[list(pair.keys())[0]]].iterrows():
        if df.loc[index, list(pair.keys())[0]] == []:
            pass
        else:
            df.loc[index, list(pair.keys())[0]] = json.loads(df.loc[index, list(pair.keys())[0]].replace('\'','"'))[0][list(pair.values())[0]]

df

TypeError: the JSON object must be str, bytes or bytearray, not Series

In [ ]:
for col in ['genres', 'production_companies', 'production_countries']:
    for index, row in df[[col]].iterrows():
        df.loc[index, [col]] = df.loc[index, ['genres', 'production_companies', 'production_countries']]

In [78]:
for col in ['genres', 'production_companies', 'production_countries']:
    for index, row in df[[col]].iterrows():
        df.loc[index, col] = json.dumps(json.loads(df.loc[index, col].replace('\'','"')))

JSONDecodeError: Expecting ',' delimiter: line 1 column 452 (char 451)

In [86]:
a = json.dumps(json.loads(df.loc[0,'genres'].replace('\'','"')))
print(type(a))

<class 'str'>

In [74]:
json.dumps(json.loads(df.loc[0,['production_countries']].values))

TypeError: the JSON object must be str, bytes or bytearray, not ndarray

In [73]:
df.loc[0,['production_countries']].values

array(["[{'iso_3166_1': 'US', 'name': 'United States of America'}]"],
      dtype=object)